body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Style for the filter container */
#filter-container {
  position: absolute;
  top: 10px;
  left: 50px; /* Position it away from the zoom controls */
  z-index: 1000; /* Ensure it's on top of the map */
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#filter-container label {
  margin-right: 5px; /* Add space between label and select box */
}

/* Style for the popup content */
.leaflet-popup-content table {
  width: 100%;
  border-collapse: collapse;
}
.leaflet-popup-content td {
  padding: 4px;
  border: 1px solid #ddd;
}
.leaflet-popup-content strong {
  white-space: nowrap;
}

/* Style for the map legend */
.info.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend h4 {
  margin: 0 0 5px;
  color: #333;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left; /* Corrected for LTR layout */
  margin-right: 8px; /* Corrected for LTR layout */
  opacity: 0.85;
}

/* Style for the logo container */
#logo-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001; /* Place it above other controls */
}

#logo-container img {
  width: 280px; /* You can adjust the width as needed */
  height: auto;
  background-color: rgba(255, 255, 255, 0.75); /* Semi-transparent background for better visibility */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  transition: transform 0.2s ease-in-out;
}

#logo-container img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Move the legend down to make space for the logo above it */
.leaflet-top.leaflet-right .leaflet-control {
    margin-top: 95px; /* You can adjust this value if needed */
}

/* Reset margin for the logo which is not a leaflet control */
.leaflet-top.leaflet-right #logo-container {
    margin-top: 0;
}
