/* Set the map to take the full screen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh; /* vh stands for viewport height */
    width: 100%;
}

/* Style for the map legend */
.legend {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-height: 400px; /* Limit height */
    overflow-y: auto; /* Add scroll if content exceeds max-height */
}

.legend h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    border-radius: 50%; /* Make color swatch a circle */
    border: 1px solid #777;
}

/* Style for the popups */
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content {
    font-size: 13px;
}

.leaflet-popup-content strong {
    color: #333;
}
